@page "/"
@page "/search/{searchText}/{page:int}"
@page "/{categoryUrl}"
@inject IProductService ProductService

<PageTitle>Blazor Ecommerce</PageTitle>

<center><h1>@welcomeMessage</h1></center>

@if (SearchText == null && CategoryUrl == null)
{
    <FeaturedProducts Title="@title" WelcomeMessage="DisplayMessage"/>
}
else
{
    <ProductList WelcomeMessage="DisplayMessage"/>
}

@code{
    [Parameter]
    public string? CategoryUrl { get; set; } = null;

    [Parameter]
    public string? SearchText { get; set; } = null;

    [Parameter]
    public int Page { get; set; } = 1;

    string title = "Top products of today";

    string welcomeMessage = "Welcome";

    private void DisplayMessage(string message)
    {
        welcomeMessage = message; 
    }

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.GetProducts(CategoryUrl);

        if (CategoryUrl != null)
        { 
            welcomeMessage = $"Welcome to {CategoryUrl} page!";
        }
        else if (SearchText != null)
        {
            welcomeMessage = $"These are the results for '{SearchText}'";
        }

        if (SearchText != null)
        {
            await ProductService.SearchProducts(SearchText, Page);
        }
        else
        {
            await ProductService.GetProducts(CategoryUrl);
        }
    }
}
